name: Java CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots compile
        working-directory: complete
      - name: Test with Maven
        run: mvn --batch-mode --update-snapshots test
        working-directory: complete
      - name: Install with Maven
        run: mvn --batch-mode --update-snapshots install
        working-directory: complete


